Repository wxh06/fontawesome-bootstrap-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check, prettier --write

.lintstagedrc.json:

{
  "*.{js,cjs,ts,jsx,tsx,vue}": ["eslint --fix", "prettier --check"],
  "*.{json,yml,yaml,html,md}": ["prettier --write"]
}

mkdir before writeFile
  build.ts
Due: eslint --fix, prettier --check

docs(readme): Add user guide
  README.md
  types.d.ts
Due: eslint --fix, prettier --check, prettier --write

Test React FontAwesomeIcon with Jest
  index.spec.tsx
  jest.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --fix, prettier --check, prettier --write

ci(github-actions): initialization
  .github/workflows/node.js.yml
  .prettierignore
Due: prettier --write

Fix type declaration
  build.ts
  index.d.ts
  package.json
  types.d.ts
Due: eslint --fix, prettier --check, prettier --write

test(jest): build
  .eslintrc.json
  .github/workflows/node.js.yml
  .gitignore
  .npmignore
  .vscode/settings.json
  build.spec.ts
  build.ts
  generate.ts
  jest.config.cjs
Due: eslint --fix, prettier --check, prettier --write

docs(readme): add badges & author
  README.md
  package.json
Due: prettier --write

Publish to npm
  .github/workflows/node.js.yml
  .github/workflows/npm-publish.yml
  README.md
  package.json
  versioning.sh
Due: prettier --write
